<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>BootsFacesTest</display-name>
	
	<!--  Facelet config  -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    <!-- Activates the waitcursor and the double-click protection -->
	<context-param>
	  <param-name>net.bootsfaces.blockUI</param-name>
	  <param-value>true</param-value>
	</context-param>
	<context-param>
	  <param-name>BootsFaces_USETHEME</param-name>
	  <param-value>true</param-value>
	</context-param>
	<context-param>
	  <param-name>BootsFaces_THEME</param-name>
	  <param-value>cerulean</param-value>
	</context-param>
	<context-param>
	  <param-name>BootsFaces_USE_VIEWPORT</param-name>
	  <param-value>user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, width=device-width</param-value>
	</context-param>

	
	<!--  Init page  -->
	<welcome-file-list>
		<welcome-file>pages/index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>